.button {
  color: var(--black);
  font-size: 12px;
  line-height: 1.64em;
  font-weight: 700;
  letter-spacing: .08em;
  text-transform: uppercase;
  padding: 5px 17px;
  border: 1px solid var(--black);
  border-radius: 4em;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: var(--white);
  background-color: var(--violet);
  border-color: var(--violet);
}